.h3auto {
    color: white;
    text-decoration: underline;
    font-size: larger;
    text-align: center;
}

.sumauto {
    border: solid white;
    text-align: center;
    color: white;
}

.autobackground {
    background-color: rgb(121, 48, 48);
}

.autotitle {
    color: rgb(172, 161, 98);
}

.autopics {
    width: 70%;
    content: center;

}

.centerauto {
    text-align: center;
}

.autobrand {
    font-size: xx-large;
    text-decoration: underline;
    color: white;
}