.entertainmnetbackground {
    background-color: rgb(177, 144, 101);
}

.titlee {
    color: rgb(72, 116, 72);
}

.columntv {
    float: left;
    width: 20%;
    padding: 5px;
}

.tvphotos {
    content: "";
    clear: both;
    display: table;
    text-align: center;

}

.pmat {
    text-align: center;
    text-decoration: underline;
    color: rgb(72, 116, 72);
    font-size: xx-large;
}

.tvsummary {
    border: 3px white solid;
    color: white;
    font-size: larger;
}

.radiophotos {
    content: "";
    clear: both;
    display: table;
    text-align: center;
}

.radiopic {
    width: 100%;
}