.titleevent {
    color: rgb(248, 87, 28);
}

.eventb {
    background-color: rgb(10, 37, 10);
}

.eventh {
    color: white;
    text-decoration: underline;
    font: italic;
}

.eventp {
    color: rgb(248, 87, 28);
    border: solid white;
}