h1 {
    text-align: center;
    color: rgba(143, 172, 98, 0.794);
    text-decoration: underline;

    border-width: 3px;
    border-style: solid;

}

.firstdish {
    background-color: rgba(19, 20, 19, 0.561);
}

.h1citys {
    text-align: center;
    color: rgba(159, 172, 98, 0.913);
    text-decoration: underline;
}

.citynames {
    text-align: center;
    color: white;
    text-decoration: underline;
    font-style: italic;

}

.newyorkpic {
    width: 100%;
}

.nyinfo {
    text-align: center;

    color: rgb(172, 161, 98);
    border: 2px solid;
}