.homebackground {
    background-color: rgba(15, 19, 4, 0.523);
}

.homep {
    color: rgba(147, 235, 223, 0.832);
    border: 2px solid rgba(255, 255, 255, 0.535);
    text-align: center;
}

.homesum {
    color: rgba(255, 255, 255, 0.866);
    text-align: center;
    text-decoration: underline;


}

.hometitle {
    color: rgba(255, 255, 255, 0.673);
}