.hm {
    color: black;
}

.btnhome {
    border: 2px solid;
    background-color: rgba(53, 169, 171, 0.849);
    padding: 15px 32px;
    font-size: 14px;
    size: 16px;
    border-radius: 15%;

    text-align: center;



}

.btnlink {
    cursor: pointer;
    color: rgba(40, 77, 133, 0.638);
    font-size: xx-large;

}