.hm {
    color: black;
}

.btnhome {
    border: 2px solid;
    background-color: black;
    padding: 15px 32px;
    font-size: 14px;
    size: 16px;
    border-radius: 15%;

    text-align: center;

}

.btnlink {
    cursor: pointer;
    color: rgb(172, 161, 98);
    font-size: xx-large;

}